@media only screen and (min-width: 1500px) {
   .header-search {
      min-width: 550px;
   }
}
@media only screen and (max-width: 1199px) {
   .product-grid {
      grid-template-columns: repeat(4, 1fr);
   }
}
@media only screen and (max-width: 991px) {
   .header-middle {
      padding-bottom: 75px;
   }
   .header-search {
      top: 60px;
      min-width: 90%;
   }
   .newsletter-contents {
      grid-template-columns: repeat(3, 1fr);
   }
   .newsletter-contents .content-single:nth-child(3n)::after {
      border-right: none;
   }
   .mail-box {
      margin-top: 30px;
   }
   .footer-info {
      text-align: center;
   }
   .footer-info .footer-text p {
      width: 100%;
   }
   .footer-image {
      text-align: center;
      margin-top: 30px;
   }
   .header-bottom .navbar-collapse {
      display: none !important;
   }
}
@media only screen and (max-width: 767px) {
   .offer-modal {
      height: 60px;
   }
   .offer-modal .close {
      left: 10px;
   }
   .offer-modal .close img {
      width: 20px;
      height: 20px;
   }
   .offer-modal h6 {
      width: 80%;
   }
   .footer-social {
      position: static;
      transform: unset;
   }
   .footer-hotline {
      justify-content: center;
      margin-top: 20px;
   }
   .product-grid {
      grid-template-columns: repeat(2, 1fr);
   }
   .product-tabs {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      justify-content: start;
      flex-wrap: nowrap;
   }
   .header-top-contents {
      flex-direction: column;
      justify-content: center;
   }
   .header-top .top-left {
      margin-bottom: 20px;
   }
}
@media only screen and (max-width: 575px) {
   .header-search {
      min-width: 100%;
   }
   .header-bottom .visible-drowndon button::after {
      margin-left: 20px;
   }
   .newsletter-contents {
      grid-template-columns: repeat(2, 1fr);
   }
   .newsletter-contents .content-single:nth-child(3n)::after {
      border-right: 0.5px solid rgba(0, 0, 0, 0.3);
   }
   .newsletter-contents .content-single:nth-child(2n)::after,
   .newsletter-contents .content-single:nth-child(4n)::after {
      display: none;
   }
}
@media only screen and (max-width: 479px) {
}
@media only screen and (max-width: 767px) {
}

@media screen and (max-width: 320px) and (min-width: 0px) {
}
